[submodule "cpath"]
	path = cpath
	url = git@github.com:radgeRayden/cpath.git
[submodule "nes-test-roms"]
	path = validation/nes-test-roms
	url = https://github.com/christopherpow/nes-test-roms
[submodule "sokol"]
	path = sokol
	url = https://github.com/floooh/sokol
[submodule "cimgui"]
	path = cimgui
	url = https://github.com/cimgui/cimgui
[submodule "nativefiledialog"]
	path = nativefiledialog
	url = https://github.com/mlabbe/nativefiledialog
[submodule "radlib"]
	path = radlib
	url = https://github.com/radgeRayden/radlib
